@model SKMISApplication.Models.DriverEntryModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DriverEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverContactNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DriverId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
