@model SKMISApplication.Models.BeneficiaryEntryModel
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Beneficiery Edit</h3>
                        @*<div style="float: right;">

                                @Html.ActionLink("Back to List", "Index", "Beneficiary", new { @class = "btn btn-block btn-primary" })
                            </div>*@
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        <div class="header-div">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FormID, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </div>
                                                    @Html.EditorFor(model => model.FormID, new { htmlAttributes = new { @class = "form-control", placeholder = "Form ID", @readonly = "readonly" } })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.FormID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Allotment No", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-list-alt"></i>
                                                    </div>
                                                    @Html.EditorFor(model => model.AllotmentNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Allotment No." } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Constituency", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-list-alt"></i>
                                                    </div>
                                                    @Html.DropDownListFor(model => model.ConstituencyID, new SelectList(Model.ConstituencyList, "Value", "Text"),
                       "Select Constituency", htmlAttributes: new { @class = "form-control select2" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("ADC/ Dev Sub Div", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-list-alt"></i>
                                                    </div>
                                                    @Html.DropDownListFor(model => model.ADCID, new SelectList(Model.ADCList, "Value", "Text"),
                       "Select ADC/ Dev Sub Div", htmlAttributes: new { @class = "form-control select2" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Block", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-list-alt"></i>
                                                    </div>
                                                    @Html.DropDownListFor(model => model.BlockID, new SelectList(Model.BlockList, "Value", "Text"),
                       "Select Block", htmlAttributes: new { @class = "form-control select2" })
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("GPU", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-list-alt"></i>
                                                    </div>
                                                    @Html.EditorFor(model => model.GPUName, new { htmlAttributes = new { @class = "form-control", placeholder = "GPU Name" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Ward Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-list-alt"></i>
                                                    </div>
                                                    @Html.EditorFor(model => model.WardName, new { htmlAttributes = new { @class = "form-control", placeholder = "Ward Name" } })
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                            @Html.Label("Ward Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-list-alt"></i>
                                                    </div>
                                                    @Html.DropDownListFor(model => model.WardID, new SelectList(Model.WardList, "Value", "Text"),
                       "Select Ward", htmlAttributes: new { @class = "form-control select2" })
                                                </div>
                                            </div>
                                        </div>*@
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BeneficiaryName, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </div>
                                                    @Html.EditorFor(model => model.BeneficiaryName, new { htmlAttributes = new { @class = "form-control", placeholder = "Full Name" } })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.BeneficiaryName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-phone"></i>
                                                    </div>
                                                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Mobile Number" } })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AadharNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-credit-card"></i>
                                                    </div>
                                                    @Html.EditorFor(model => model.AadharNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Aadhar Number" } })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.AadharNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-lg-12">
                                            <hr />
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-3" style="text-align: left">
                                                <input type="submit" id="save" value="Update" class="btn btn-block btn-success" />
                                            </div>
                                            <div class="col-lg-3" style="text-align: center">
                                                @Html.ActionLink("Cancel", "Detail", new { id = Model.ConstituencyID }, htmlAttributes: new { @class = "btn btn-block btn-danger" })
                                                @*<input type="submit" value="Cancel" class="btn btn-block btn-danger" />*@
                                            </div>
                                            <div class="col-lg-3"></div>
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            <div class="col-md-offset-5 col-md-10">

                                                <span style="padding-left:2%">@Html.ActionLink("Back to List", "Index", "", htmlAttributes: new { @class = "btn btn-primary" })</span>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
}
<script>
    $(function () {
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        });

    });
</script>
