@model IEnumerable<SKMISApplication.Models.BeneficiaryEntryModel>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Beneficiery List</h3>
                        <div style="float: right;">
                            @Html.ActionLink("CREATE BENEFICIERY", "Create", "Beneficiary", new { @class = "btn btn-block btn-primary" })
                        </div>
                    </div>
                    

                    <div class="col-lg-12" style="float: left; padding-left:0px; padding-bottom:10px;">
                        <div class="col-lg-4">
                            @*@Html.EditorForModel(Model.FirstOrDefault().Search, new { htmlAttributes = new { @class = "form-control", placeholder = "Search", @id="advSearchtxt" }})*@
                            <input id="advSearchtxt" type="text" placeholder="Advance Search" class="form-control" />

                        </div>
                        <div class="col-lg-2">

                            @Html.ActionLink("Search", "AdvDetail", "Beneficiary", null, new { onclick = "this.href += '?searchString=' + $('#advSearchtxt').val()", @class = "btn btn-block btn-primary" })
                            @*@Html.ActionLink("Search", "AdvDetail", "Beneficiary", new { searchString = "xxx" }, new { onclick = "this.href.replace('xxx', $('#advSearchtxt').val())", @class = "btn btn-block btn-primary" })*@

                            @*@Html.ActionLink("Search","AdvDetail","Beneficiary", new { searchString = "$('#advSearchtxt').val()" }, new { @class = "btn btn-block btn-primary", @id="btnSrch" })*@
                            @*@Html.ActionLink("Search", "AdvDetail", "Beneficiary", new { searchString = "xxx" }, new { @class = "btn btn-block btn-primary", onclick = "advSearch();" })*@
                            @*@Html.ActionLink( "Search", "Detail", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-default btn-sm glyphicon glyphicon-info-sign" })*@
                            @*<input id="Button1" class="btn btn-block btn-primary" type="button" value="Search"  onclick = "advSearch();" />*@
                        </div>
                    </div>

                    <div class="box-body">
                        <table class="table table-bordered table-striped" id="beneficieryGrid">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ConstituencyName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Count)</th>                                    
                                    <th class="nosort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.ConstituencyName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Count)</td>
                                        <td>
                                            @Html.ActionLink(" ", "Detail", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-default btn-sm glyphicon glyphicon-info-sign" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="box-header">
                        <div style="float: left;">
                            <table>
                                <tr>
                                    <td>Total Beneficiary: 3000   Received : @Html.Label(ViewData["TotalBeneficiary"].ToString(), htmlAttributes: new { @class = "control-label" })</td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>

  $(function () {
      $('.btnSrch').click(function () {
          alert(45);
        var searchString = $("#advSearchtxt").val();
        this.href = this.href.replace("xxx", $("#advSearchtxt").val());
    });
  });


    $(function () {
        $("#beneficieryGrid").DataTable({
            "sScrollX": "99.8%",
            "paging": false,
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });
    });
    @*function advSearch() {
        //alert(45);
        var srchStr = $("#advSearchtxt").val();
        loadAjaxSearch(srchStr, '@Url.Action("AdvDetail")')
    }*@
    function deleteBeneficiary(id, aname) {
        swal({
            title: "Are you sure you want to delete?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            closeOnConfirm: true
        },
            function () {
                var url = '@Url.Action("Delete")';
                loadAjax(id, url);
            });
        return false;
    }

    function loadAjax(id, url) {
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            data: { id: id },
            success: function (result) {
                swal({
                    title: "Deleted Successfully...!",
                    text: "",
                    type: "success",
                    timer: 5000,
                    showConfirmButton: false
                });
                location.reload();
            }
        });
    }
    //function loadAjaxSearch(srchString, url) {
    //    $.ajax({
    //        url: url,
    //        type: 'GET',
    //        cache: false,
    //        data: { searchString: srchString },
    //        success: function (result) {
    //            alert(5454);
    //        }
    //    });
    //}
</script>
